.movie {
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 1px solid #D90368;
    border-radius: 5px;
    box-shadow: .5px .2px 5px #D90368;
}

.movie:hover, .movie:focus {
    cursor: pointer;
    transform: rotate(2deg);
    transition: all .3s ease-in-out;
}

.gap {
    margin-right: .5em;
}

.title {
    margin-top: .001em;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #fff;
    color: #EA7317;
    padding: .3em;
}

.footer {
    margin-top:auto;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.footer p {
    margin-top: .2em;
    margin-bottom: .2em;
}

.rating {
    color: #D90368;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #fff;
}

.releaseDate {
    color: limegreen;
    font-weight: bold;
    background-color: #fff;
}

.link {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}