.backLink {
    color: #D90368;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.backLink:hover, .backLink:focus {
    text-decoration: underline;
}

.container {
    margin: 1em;
}

.detailsTitle {
    text-align: center;
    padding: 1rem;
    color: #D90368;
    font-size: 2rem;
    font-weight: bold;
  }

.movieBackdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size:cover;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.movieInfo {
    color: #D90368;
    box-shadow: 2px 1px 10px #541388;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border-radius: 10px;
    overflow-y: scroll;
}

.alignContent {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.alignContent p {
    margin-top: .5em;
}

.alignContent p:first-child {
    text-decoration: underline;
    text-decoration-color: #D90368;
    text-decoration-thickness: 3px;
}

.overview {
    padding: .4em;
}

.tagLine {
    color: #6D326D;
}

.budget {
    color: #EA7317;
}
.revenue {
    color: lime;
}

.release {
    color: #FFDC5E;
}

.runtime {  
   color: #3F88C5; 
}

.ratingDetails {
   color: #04E762;
}

.genres {
   color: #461220;
}

.detail .videolinks a {
    color: #003F91;
    display: block;
    padding-bottom: .5em;
}

.detail {
   margin-top: 0;
   margin-bottom: 0.2em;
}

.detail li {
    list-style: none;
    margin: 0;
    max-width: 100%;
}

.detail li a {
    text-align: center;
    text-decoration: none;
    color: #D90368;
}

@media screen and (max-width: 650px) {
    .movieInfo {
        width: 97%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}